@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

.logo a {
    text-decoration: none;
}

.logo-text {
    font-family: 'Space Grotesk', sans-serif;
}

/* Style for Stat90 */
.logo-text::before {
    content: "Stat90";
    font-size: 2rem;
    font-weight: 700;
    color: #10b981;  /* Your specified color for dark mode */
}

/* Style for blog */
.logo-text::after {
    content: " Blog";
    font-size: 1.5rem;
    font-weight: 500;
}

/* Adjust color for light mode */
[theme="light"] .logo-text::before {
    color: #059669;  /* Darker shade for light mode */
}